
.item {
  background-size:cover;
  text-align: center;
  transition: transform 300ms ease 100ms;
}

.container:hover .item {
  transform: translateX(-20%);
}

.item:hover ~ .item {
  transform: translateX(20%);
}

.item:hover {
  transform: scale(1.5) !important;
  overflow: hidden;
}